
%section#systems-section
  %form.form-horizontal
    %input{ type: "text", placeholder: "Novo Sistema", ng_model: "newSystem.name", required: "" }
    %input{ type: "submit", class: "btn", value: "Add" }

  %ul.systems-list
    %li.system
      %span.system-title= "3D&T"
      %ul.books-list
        %li.book= "Manual 3D&T Alpha"
    %li.system
      %span.system-title= "D&D"
      %ul.books-list
        %li.book= "Livro do Jogador"
    %li.system
      %span.system-title= "Storytelling"
      %ul.books-list
        %li.book= "Mago O Despertar"

.controller{ ng_controller: "RulesCtrl" }
  %section#rules-section
    %form.form-horizontal{ ng_submit: "addRule()" }
      .control-group
        %input{ type: "text", placeholder: "Nova Regra", ng_model: "newRule.name" }
      .control-group
        %input{ type: "text", placeholder: "Descrição", ng_model: "newRule.description" }
      %input{ type: "submit", class: "btn", value: "Salvar" }

    %form.form-search
      %input{ type: "text", class: "input-medium search-query" }
      %input{ type: "submit", class: "btn" }

    %ul.rules-list
      %li{ ng_repeat: "rule in rules" }
        %span.rule-name {{rule.name}}
        %markdown.rule-text= "#tchubas"

    {{rule.description}}

