
%section#systems-section
  %form.form-horizontal
    %input{ type: "text", placeholder: "Novo Sistema", ng_model: "newSystem.name", required: "" }
    %input{ type: "submit", class: "btn", value: "Add" }

  %ul.systems-list
    %li.system
      %span.system-title= "3D&T"
      %ul.books-list
        %li.book= "Manual 3D&T Alpha"
    %li.system
      %span.system-title= "D&D"
      %ul.books-list
        %li.book= "Livro do Jogador"
    %li.system
      %span.system-title= "Storytelling"
      %ul.books-list
        %li.book= "Mago O Despertar"

%section#rules-section
  = link_to "Regras", "#/rules"
  |
  = link_to "Nova Regra", "#/rules/new"
  .view{ ng_view: "" }
